
header {
    margin: 2% 0 2% 0;
}
header h2 {
    margin-bottom: 2%;
}
.list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

a {
    color: black;
}
a:hover {
    color: rgb(1, 137, 155);
}

.milli {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.topnav {
    background-color: black;
    display: flex;
    flex-direction: column;
}
.topnav ul {
    align-self: flex-start;
    margin-top: 2%;
}
.topnav li {
    display: inline;
    padding: 15px;
}
.topnav a {
    color: lightgray;
    font-weight: 600;
    letter-spacing: 1.3px;
}
.topnav a:hover {
    color: rgb(1, 137, 155);
}
.milco {
    margin-bottom: 4%;
}
.desc h4 {
    margin-top: 2%;
}
.boot {
    margin-bottom: 4%;
}
.tabell {
    margin-bottom: 4%;
}
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 2%;
}
footer a {
    color: white;
}
